global !p
def eval_expr(expr):
	try:
		return eval(expr)
	except:
		return ""
endglobal



snippet calc "Perform a numerical calculation" b
calc ${1:expression} = `!p
snip.rv=eval_expr(t[1])
`
endsnippet
